{% extends "main/base.html" %}

{%block content%}
{% load static %}

<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1> درباره  <span>ملکیران</span></h1>
								<h3>سامانه جامع یافتن خانه در سرتاسر ایران </h3>
								<p class="about-paddingB"> ملکیران کار خود را در 1397 آغاز کرد. موسسان این سامانه جوانانی بودند مشتاق ترویج روحیه سفر در ایرانیان. </p>
								<p> ما بهترین سامانه یافتن خانه هستیم. با ما بیش از 10000 خانه را در بیش از 200 شهر ایران مهمان شوید. قیمت های ارزان و مشتری مداری شعار ماست. با فرهنگ های ایرانیان آشنا شوید و درون تان را غنی کنید. سفر به اقصی نقاط میهن مان. </p>

							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>
                    </div>
                </div>
            </div>

{% endblock content %}