{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container vertical-center">
    <div class="row">
        <div class="card-wrapper">
            <div class="card-login fat">
                <div class="card-body">
                    {% if messages%}
                    {%for message in messages%}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h4 class="card-title">ایجاد تخفیف برای سطح مشتری</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        <div class="form-group no-margin">
                            <button type="submit" class="btn btn-primary btn-block">
                                ثبت
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}