{% extends "main/base.html" %}
{% block content %}



<div class="container-fluid" style="margin-top: 5%; margin-bottom: 5%">

    <div class="row clearfix" style="margin-bottom: 20px">
        <div class="col-md-6">
            <div class="card o-hidden h-100">
                <div class="card-header bg-primary text-white">
                    <h1 style="margin-right: 15%">تعداد فروش</h1>
                </div>
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-shopping-cart text-white"></i>
                    </div>
                    <div class="card-text text-center">
                        <span class="display-3"><strong>17</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card o-hidden h-100">
                <div class="card-header bg-primary text-white">
                    <h1 style="margin-right: 15%">درآمد حاصل از فروش</h1>
                </div>
                <div class="card-body">
                    <div class="card-body-icon text-white">
                        <i class="fa fa-fw fa-money-check-alt"></i>
                    </div>
                    <div class="card-text text-center">
                        <span class="display-3"><strong>13.2</strong>k</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix" style="margin-bottom: 20px">
        <div class="col-md-6">
            <div class="card o-hidden h-100">
                <div class="card-header bg-primary text-white">
                    <h1 style="margin-right: 15%">تعداد خرید</h1>
                </div>
                <div class="card-body">
                    <div class="card-body-icon text-white">
                        <i class="fa fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="card-text text-center">
                        <span class="display-3"><strong>15</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card o-hidden h-100">
                <div class="card-header bg-primary text-white">
                    <h1 style="margin-right: 15%">هزینه خرید ها</h1>
                </div>
                <div class="card-body">
                    <div class="card-body-icon text-white">
                        <i class="fa fa-fw fa-money-check-alt left"></i>
                    </div>
                    <div class="card-text text-center">
                        <span class="display-3"><strong>5</strong>k</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="card o-hidden h-100">
                <div class="card-header bg-dark text-white">
                    <h1 style="margin-right: 15%">درآمد خالص</h1>
                </div>
                <div class="card-body">
                    <div class="card-body-icon text-white">
                        <i class="fa fa-fw fa-coins"></i>
                    </div>
                    <div class="card-text text-center">
                        <span class="display-3"><strong>8.2</strong>k</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

</div>

{% endblock %}