{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="content-wrapper">
    <div class="row">
        <div class="container-fluid vertical-center">
            <div class="card-login" >
                <div class="card-body">
                    <h4 class="card-title">ثبت تامین کننده</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row clearfix" style="margin-top:20px">
                            <div class="pull-left left col-md-4">
                            </div>
                            <div class="pull-left left col-md-4">
                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        ثبت کالا
                                    </button>
                                </div>
                            </div>
                            <div class="pull-left left col-md-4">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}